<!DOCTYPE html>
<html>
	<head>
<!--References-->
	<title>Travel Experts | Contact</title>
		<link href="contact.css" rel="stylesheet"/>
		<link href="bootstrapcss.css" rel="stylesheet"/>
	</head>
	<body>
	<!--Navigation Bar-->
			<!-- Creating the banner for the Customer Registration page with the Travel Experts logo (Added on June 17, 2021) -->
			<div class="container-xl p-3 my-3 bg-primary">
				<!-- Note: I created the logo image used on this website using Microsoft Word and Paint -->
				<h1><img src="TravelExpertsLogo4.png" valign="left" width="160px" height="160px" style="margin:auto;"/> &nbsp Contact Us</h1>
			</div>
			
			<!-- Creating the navigation bar for this page (Added on June 17, 2021) -->
			<nav class="navbar navbar-expand-lg navbar-dark bg-info justify-content-center">
			
				<!-- Adding the company name to navigation bar which goes to homepage -->
				<a class="navbar-brand" href="index.html">Home</a>
				
				<!-- Creating the links to the other pages -->
				<ul class="navbar-nav">
					
					<!-- Link to About Us page -->
					<li class="nav-item">
						<a class="nav-link" href="aboutUs.html">About Us</a>
					</li>
					
					<!-- Link to Vacation Packages page -->
					<li class="nav-item">
						<a class="nav-link" href="packaage.html">Vacation Packages</a>
					</li>
					
					<!-- Link to Customer Registration page -->
					<li class="nav-item">
						<a class="nav-link" href="customerRegistration.html">Customer Registration</a>
					</li>
					
					<!-- Link to Contact Us page -->
					<li class="nav-item">
						<a class="nav-link" href="contact.html">Contact Us</a>
					</li>
				
				</ul>
			
			</nav>
		  </div>
		</div>
	  </nav>
	  <p class="expertinfo" align="center" >Located in 17th block Dalaran - travel.experts@hotmail.com - 587-586-1478</p>
	<div class = "row">
		<h3 align="center">Our Travel Agents</h3>
<!--Veronica-->
	<div class="col-sm-3">
		<div class="card">
			<h3 align="center" class="card-header">Veronica Hoffman</h3>
			<img src="VeronicaH.jpg" >
			<div class="card-body">
			<p class="card-text">Veronica is one of our best known travel agents due to her vast knowledge of Central Europe.
				Interested in visiting the Eiffel tower? Eating your way through Italy?
				Contact Veronica today using one of the options below to start booking your trip!</p>
			</div>
			<ul class="list-group list-group-flush" align="center">
				<li class="list-group-item">403-866-9341</li>
				<li class="list-group-item">veronica.hoffman@hotmail.com</li>
				<li class="list-group-item">ID: 2066</li>
			</ul>
			<div align="center" class="card-body">
				<a href="#" class="card-link">LinkedInProfile</a>
				<a href="#" class="card-link">FacebookPage</a>
			</div>
		</div>
	</div>

<!--Aiden-->
	<div class="col-sm-3">
		<div class="card">
			<h3 align="center" class="card-header">Aidan Goguen</h3>
			<img src="AidenG.jpg" >
			</svg>
			<div class="card-body">
			<p class="card-text">Aidan is our South Asia specialist. With over 15 years of travel experience from the Maldives to India,
				Aiden can make you a fantastic trip to meet your adventuring needs! Contact him using one of the methods below.</p>
			</div>
			<ul class="list-group list-group-flush" align="center">
				<li class="list-group-item">403-587-9632</li>
				<li class="list-group-item">aidan.goguen@hotmail.com</li>
				<li class="list-group-item">ID: 2622</li>
			</ul>
			<div align="center" class="card-body">
				<a href="#" class="card-link">LinkedInProfile</a>
				<a href="#" class="card-link">FacebookPage</a>
			</div>
		</div>
	</div>

<!--Tessa-->
	<div class="col-sm-3">
		<div class="card">
			<h3 align="center" class="card-header">Tessa-Rae Feyres</h3>
			<img src="TessaF.jpg" >
			</svg>
			<div class="card-body">
			<p class="card-text">Tessa is our resident Azeroth pro,
				whether you want to see the Icecrown Citadel of Northrend or the Niuzao Temple deep in the the mists of Pandaria she can get you there!
				Use her contact information below to start your adventure!</p>
			</div>
			<ul class="list-group list-group-flush" align="center">
				<li class="list-group-item">403-952-1535</li>
				<li class="list-group-item">tessarae.feyres@hotmail.com</li>
				<li class="list-group-item">ID: 6908</li>
			</ul>
			<div align="center" class="card-body">
			<a href="#" class="card-link">LinkedInProfile</a>
			<a href="#" class="card-link">FacebookPage</a>
			</div>
		</div>
	</div>
	<!--Natalie-->
	<div class="col-sm-3">
		<div class="card">
			<h3 align="center" class="card-header">Natalie Helmer</h3>
			<img src="NatalieH.jpg" >
			</svg>
			<div class="card-body">
			<p class="card-text">Interested in what the vast lands of Tamriel can offer you? Talk to our agent Natalie for insight into the historical Imperial City,
				rich depths of Blackreach and so much more! Find her contact details below. </p>
			</div>
			<ul class="list-group list-group-flush" align="center">
				<li class="list-group-item">403-587-7845</li>
				<li class="list-group-item">natalie.helmer@hotmail.com</li>
				<li class="list-group-item">ID: 0310</li>
			</ul>
			<div align="center" class="card-body">
			<a href="#" class="card-link">LinkedInProfile</a>
			<a href="#" class="card-link">FacebookPage</a>
			</div>
		</div>
	</div>
	<div class="col-sm-3"></div>
		<div class="card">
			<div class="contactform">
				<div class="card-body">
<!--Customer Form-->
<form action="bouncer.php" method="post" id="customerform">
	<fieldset>
	  <legend>Send us an email</legend>
	  <div class="form-group row">
		<div class="col-sm-10">
		  <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="travel.experts@hotmail.com">
		</div>
	  </div>
	  <div class="form-group">
		<label for="exampleInputEmail1" class="form-label mt-4">Your email address</label>
		<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	  </div>
	  <div class="form-group">
		<label for="exampleSelect1" class="form-label mt-4">What can we help you with?</label>
		<select class="form-select" id="exampleSelect1">
		  <option>Website Bug</option>
		  <option>Put me in contact with an agent</option>
		  <option>Information about Travel Experts</option>
		  <option>Other</option>
		</select>
		<div class="form-group">
			<label for="exampleInputEmail1" class="form-label mt-4">Please give a summary of what we can do for you</label>
			<input type="text" class="form-control" placeholder="How can we help">
		  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</fieldset>
  </form>
</div>
</div>
</div>
</div>
</div>
</body>
<footer> © 2021 Travel Experts, Inc. All rights reserved </footer>
</html>