<!DOCTYPE html>
<html lan="en">
<head>
  
  <!--Group 3 term 1 travel experts project
  Authors: Aidan Goguen, Veronica Hoffman, Natalie Helmer, Tessa Feyres.
  Index page created by Aidan Goguen with example assistant from w3schools and external bootstrap CSS styling sheets
  Project created on June 21st, 2021.-->
    <title>Travel Experts | Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="home.css"><!--Personal stylesheet created with reference to w3schools-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!--External scripts are open source and not my own-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script><!--Using bootstrap tutorials to assist in creation of page-->
</head>
<body>
  <div class="parallax">
    <div class="scrolling">

  <!--adding the navbar, div tags referencing bootstrap.css external files-->
<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="index.html">Home</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="aboutUs.html">ABOUT US</a></li>
          <li><a href="Packaage.html">PACKAGES</a></li>
          <li><a href="customerRegistration.html">REGISTRATION</a></li>
          <li><a href="contact.html">CONTACT US</a></li>
        </ul>
      </div>
    </div>
  </nav>

    <div class="container-fluid bg-1 text-center"><!--Bootstrap for fluid containers that adjust with page, bg is css reference, as well as text-center-->
      <h3>Who are we?</h3>
      <img src="TravelExpertsLogo4.png" class="img-responsive img-rounded margin" style="display:inline" alt="Travel Experts Logo" width="350" height="350"><!--Main logo in the page-->
      <h3>We are Travelling Experts</h3>
    </div>
    
    <div class="container-fluid bg-2 text-center">
      <h3>Have you ever wanted to get away?</h3>
      <p>With Travel Experts, your next get-away vacation is made easy! To get started, simply click the here to browse our fantastic packages available for you today!</p>
      <a href="Packaage.html" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-search"></span> View Packages
      </a>
    </div>
    
    <div class="container-fluid bg-3 text-center">    
      <h3>Sample vacation areas</h3><br>
      <div class="row">
        <div class="col-sm-4">
          <p>The Opera House is Sydney's best-known landmark. It is a multipurpose performing arts facility whose largest venue, the 2,679-seat Concert Hall, is host to symphony concerts, choir performances, and popular music shows.</p>
          <img src="Operahouse.jpg" class="img-responsive" style="width:100%"alt="Syndy">
        </div>
        <div class="col-sm-4"> 
          <p>With steaming jungles, snowcapped volcanoes, cactus-strewn deserts and 10,000km of coast strung with sandy beaches and wildlife-rich lagoons, Mexico is an endless adventure for the senses and a place where life is lived largely in the open air. </p>
          <img src="Dest1.jpg" class="img-responsive" style="width:100%" alt="Mexico">
        </div>
        <div class="col-sm-4"> 
           <p>Machu Picchu is a 15th-century Inca site located on a ridge between the Huayna Picchu and Machu Picchu mountains in Peru. It sits 7,970 feet (2,430 meters) above sea level on the eastern slope of the Andes and overlooks the Urubamba River hundreds of feet below.</p>
           <img src="dest5.jpg" class="img-responsive" style="width:100%" alt="Macchu Picchu">
          </div>
        </div>
      </div>
    </div>
    </div>  
    
    </body>
    <div class="container-fluid bg-4 text-center">
        <footer>
          <!--  <p>Made with reference to www.w3schools.com</p>-->
          <h3>Your information goes here</h3>
            Copyright 2021 &copy;</footer>
      </div>
</html>