<!DOCTYPE html>
<html>
	<head>
		<title>Stranglethorn Vale</title>
		 <style>
			body {background-image: url("TravelImageHumid1.png");
					background-repeat: no-repeat;
					background-attachment: fixed;
					background-size: cover;
			}
			
			div {color: white; 
				background-color: black; 
				font-size: 50px;
			}
			
			table {
				font-size: 21px
			}
		</style> 
			<script>
			
			</script>

		</head>

	<body>
	
	<!-- change this per page -->
		<div id="dstwlc"
			<p align="center";><b><i>Welcome to the Stranglethorn Vale</i></b></p>
		</div></br>
		<p style="font-size: 24px; background-color:#AFE2FC;width:100%";><i>The Stranglethorn Vale is located on the southern tip of the Eastern Kingdoms and boasts one of our warmest destinations.  Perfect for anyone hoping to experience summer at any time of year, our location boasts a plethora of attractions and incredible sights to see.  Whether you choose to explore the surrounding jungles to the west or swim in the crystal clear ocean to the south Stranglethorn Vale has no shortage of relaxing activities and a little something for everyone.  Available June 4th until August 10th!</i></p>
		 <table style="background-color:#AFE2FC;width:100%"; >
  <tr align="left">
    <th>Length of Stay</th>
    <th>Price (Horde)</th>
    <th>Price (Alliance)</th>
  </tr>
  <tr>
    <td>24 hours of Adventure</td>
    <td>7 Gp</td>
    <td>5 Gp</td>
  </tr>
  <tr>
    <td>72 hours of Adventure</td>
    <td>18 Gp</td>
    <td>12 Gp</td>
  </tr>
  <tr>
    <td>168 hours of Adventure</td>
    <td>40 Gp</td>
    <td>30 Gp</td>
  </tr>
</table> 
<h3 style="background-color:#AFE2FC;width:100%";>Back to Packages<a href="Packaage.html"><img src="WorldMap.png"; height="50"; width="90"></a></h3>
<!-- this next bit of code allows the user to shove the text out of sight to see the background image clearly -->
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
	</body>
</html>
	