<!DOCTYPE html>
<html>
	<head>
		<title>Booty Bay</title>
		 <style>
			body {background-image: url("TravelImageWet1.png");
					background-repeat: no-repeat;
					background-attachment: fixed;
					background-size: cover;
			}
			
			div {color: white; 
				background-color: black; 
				font-size: 50px;
			}
			
			table {
				font-size: 21px
			}
		</style> 
			<script>
			
			</script>

		</head>

	<body>
	
	<!-- change this per page -->
		<div id="dstwlc"
			<p align="center";><b><i>Welcome to Booty Bay</i></b></p>
		</div></br>
		<p style="font-size: 24px; background-color:#AFE2FC;width:100%";><i>Booty Bay is located on the south of the Eastern Kingdoms and is a short ways from our location in the Stranglethorn Vale.  Booty Bay is a rough and tumble place full of urban adventure for any adventurer willing to take a risk.  Our location boasts a plethora of activities and a well earned tabard reading "I survived Booty Bay".  Whether you choose to take on the nightlife Booty Bay offers or sail along the coast on an expertly piloted craft Booty Bay has a little something for everyone.  Available All Year!</i></p>
		 <table style="background-color:#AFE2FC;width:100%"; >
  <tr align="left">
    <th>Length of Stay</th>
    <th>Price (Horde)</th>
    <th>Price (Alliance)</th>
  </tr>
  <tr>
    <td>24 hours of Adventure</td>
    <td>30 Gp</td>
    <td>30 Gp</td>
  </tr>
  <tr>
    <td>72 hours of Adventure</td>
    <td>80 Gp</td>
    <td>80 Gp</td>
  </tr>
  <tr>
    <td>168 hours of Adventure</td>
    <td>175 Gp</td>
    <td>175 Gp</td>
  </tr>
</table> 
<h3 style="background-color:#AFE2FC;width:100%";>Back to Packages<a href="Packaage.html"><img src="WorldMap.png"; height="50"; width="90"></a></h3>
<!-- this next bit of code allows the user to shove the text out of sight to see the background image clearly -->
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
	</body>
</html>
	