<!DOCTYPE html>
<html>
	<head>
		<title>Thunder Bluff</title>
		 <style>
			body {background-image: url("TravelImageSmooth1.png");
					background-repeat: no-repeat;
					background-attachment: fixed;
					background-size: cover;
			}
			
			div {color: white; 
				background-color: black; 
				font-size: 50px;
			}
			
			table {
				font-size: 21px
			}
		</style> 
			<script>
			
			</script>

		</head>

	<body>
	
	<!-- change this per page -->
		<div id="dstwlc"
			<p align="center";><b><i>Welcome to Thunder Bluff</i></b></p>
		</div></br>
		<p style="font-size: 24px; background-color:#AFE2FC;width:100%";><i>Thunder Bluff is located to the West on the continent of Kalimdor.  Our location boasts a plethora of attractions and activities perfect for any adventurer whose ideal activity is relaxing in the fields gazing at the beautiful cloudless sky that Thunder Bluff is blessed with.  Thunder Bluff is packed with the lazy pace rural areas thrive in and  whether you choose to picnic on the gentle slopes or ride across the fields with our guided trailblazings Thunder Bluff has a little something for everyone.  Available April 2nd until September 19th!</i></p>
		 <table style="background-color:#AFE2FC;width:100%"; >
  <tr align="left">
    <th>Length of Stay</th>
    <th>Price (Horde)</th>
    <th>Price (Alliance)</th>
  </tr> 
  <tr>
    <td>24 hours of Adventure</td>
    <td>11 Gp</td>
    <td>12 Gp</td>
  </tr>
  <tr>
    <td>72 hours of Adventure</td>
    <td>28 Gp</td>
    <td>30 Gp</td>
  </tr>
  <tr>
    <td>168 hours of Adventure</td>
    <td>60 Gp</td>
    <td>70 Gp</td>
  </tr>
</table> 
<h3 style="background-color:#AFE2FC;width:100%";>Back to Packages<a href="Packaage.html"><img src="WorldMap.png"; height="50"; width="90"></a></h3>
<!-- this next bit of code allows the user to shove the text out of sight to see the background image clearly -->
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
	</body>
</html>
	