<!DOCTYPE html>
<html>
	<head>
		<title>Revendrath</title>
		 <style>
			body {background-image: url("TravelImageDark1.png");
					background-repeat: no-repeat;
					background-attachment: fixed;
					background-size: cover;
			}
			
			div {color: white; 
				background-color: black; 
				font-size: 50px;
			}
			
			table {
				font-size: 21px
			}
		</style> 
			<script>
			
			</script>

		</head>

	<body>
	
	<!-- change this per page -->
		<div id="dstwlc"
			<p align="center";><b><i>Welcome to Revendrath</i></b></p>
		</div></br>
		<p style="font-size: 24px; background-color:#AFE2FC;width:100%";><i>Revendrath may be difficult to get to but the traversal through the Shadowlands to this charming destination will be well worth it for any traveler; Adventurer or not.  Our location boasts a plethora of attractions including the incridible feast fit for kings hosted by the dashing Price Renfell.  Boasting amazing architecture and a traditional populace Revendrath will be certain to be your dream destination.  Whether you choose to mingle with the residents or explore the wonderous outdoors beneath the full moon Revendrath will be sure to have a little something for everyone.  Available October 1st until November 2nd!</i></p>
		 <table style="background-color:#AFE2FC;width:100%"; >
  <tr align="left">
    <th>Length of Stay</th>
    <th>Price (Horde)</th>
    <th>Price (Alliance)</th>
  </tr> 
  <tr>
    <td>24 hours of Adventure</td>
    <td>21 Gp</td>
    <td>21 Gp</td>
  </tr>
  <tr>
    <td>72 hours of Adventure</td>
    <td>60 Gp</td>
    <td>60 Gp</td>
  </tr>
  <tr>
    <td>168 hours of Adventure</td>
    <td>165 Gp</td>
    <td>165 Gp</td>
  </tr>
</table> 
<h3 style="background-color:#AFE2FC;width:100%";>Back to Packages<a href="Packaage.html"><img src="WorldMap.png"; height="50"; width="90"></a></h3>
<!-- this next bit of code allows the user to shove the text out of sight to see the background image clearly -->
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
	</body>
</html>
	