<!DOCTYPE html>
<html>
	<head>
		<title>Elwynn Forest</title>
		 <style>
			body {background-image: url("TravelImageShaded1.png");
					background-repeat: no-repeat;
					background-attachment: fixed;
					background-size: cover;
			}
			
			div {color: white; 
				background-color: black; 
				font-size: 50px;
			}
			
			table {
				font-size: 21px
			}
		</style> 
			<script>
			
			</script>

		</head>

	<body>
	
	<!-- change this per page -->
		<div id="dstwlc"
			<p align="center";><b><i>Welcome to Elwynn Forest</i></b></p>
		</div></br>
		<p style="font-size: 24px; background-color:#AFE2FC;width:100%";><i>Elewynn Forest is located upon the Eastern Kingdoms and boasts deep and vibrant woods.  Our location lies deep within the Elderwoods and provides adventurers with easy access to the surrounding small hamlets allowing the hustle and bustle of the citylife to fade into the slower paced ease of small town life.  Whether you choose to explore the woods communing with the wildlife or meet the easygoing and friendly residents of the surrounding hamlets Elwynn Forest has a little something for everyone.  Available All Year!</i></p>
		 <table style="background-color:#AFE2FC;width:100%"; >
  <tr align="left">
    <th>Length of Stay</th>
    <th>Price (Horde)</th>
    <th>Price (Alliance)</th>
  </tr> 
  <tr>
    <td>24 hours of Adventure</td>
    <td>6 Gp</td>
    <td>10 Gp</td>
  </tr>
  <tr>
    <td>72 hours of Adventure</td>
    <td>15 Gp</td>
    <td>25 Gp</td>
  </tr>
  <tr>
    <td>168 hours of Adventure</td>
    <td>32 Gp</td>
    <td>55 Gp</td>
  </tr>
</table> 
<h3 style="background-color:#AFE2FC;width:100%";>Back to Packages<a href="Packaage.html"><img src="WorldMap.png"; height="50"; width="90"></a></h3>
<!-- this next bit of code allows the user to shove the text out of sight to see the background image clearly -->
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
	</body>
</html>
	