<!DOCTYPE html>
<html>
	<head>
		<title>Dalaran</title>
		 <style>
			body {background-image: url("TravelImageBusy1.png");
					background-repeat: no-repeat;
					background-attachment: fixed;
					background-size: cover;
			}
			
			div {color: white; 
				background-color: black; 
				font-size: 50px;
			}
			
			table {
				font-size: 21px
			}
		</style> 
			<script>
			
			</script>

		</head>

	<body>
	
	<!-- change this per page -->
		<div id="dstwlc"
			<p align="center";><b><i>Welcome to Dalaran</i></b></p>
				
		</div></br>
		<p style="font-size: 24px; background-color:#AFE2FC;width:100%";><i>Dalaran is located on the west side of Northrend but it couldn't be any more unique from the surrounding area.  Northrend may be a Northern Adventurers dream come true but Dalaran boasts the largest number of attractions for Adventurers more interested in the hustle and bustle of a major city.  Our location boasts a plethora of attractions that put all other major cities to shame including the legendary Great Council of Mages.  Whether you choose to explore the sights of the city during the day or experience the delights of a city alight with the setting sun Dalaran has a little something for everyone.  Available all year!</i></p>
		 <table style="background-color:#AFE2FC;width:100%"; >
  <tr align="left">
    <th>Length of Stay</th>
    <th>Price (Horde)</th>
    <th>Price (Alliance)</th>
  </tr> 
  <tr>
    <td>24 hours of Adventure</td>
    <td>32 Gp</td>
    <td>21 Gp</td>
  </tr>
  <tr>
    <td>72 hours of Adventure</td>
    <td>90 Gp</td>
    <td>60 Gp</td>
  </tr>
  <tr>
    <td>168 hours of Adventure</td>
    <td>195 Gp</td>
    <td>175 Gp</td>
  </tr>
</table> 
<h3 style="background-color:#AFE2FC;width:100%";>Back to Packages<a href="Packaage.html"><img src="WorldMap.png"; height="50"; width="90"></a></h3>
<!-- this next bit of code allows the user to shove the text out of sight to see the background image clearly -->
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
	</body>
</html>
	