<!DOCTYPE html>
<html>
	<head>
		<title>Vol'dun</title>
		 <style>
			body {background-image: url("TravelImageWarm1.png");
					background-repeat: no-repeat;
					background-attachment: fixed;
					background-size: cover;
			}
			
			div {color: white; 
				background-color: black; 
				font-size: 50px;
			}
			
			table {
				font-size: 21px
			}
		</style> 
			<script>
			
			</script>

		</head>

	<body>
	
	<!-- change this per page -->
		<div id="dstwlc"
			<p align="center";><b><i>Welcome to Vol'dun</i></b></p>
		</div></br>
		<p style="font-size: 24px; background-color:#AFE2FC;width:100%";><i>Vol'dun is located on the Zandalar continent between the Maelstrom and the Eastern Kingdoms.  Our location lays nestled within the dunes of Vol'dun with inumerable ruins scattered nearby just waiting to be explored.  Under the careful supervision of our agents Vol'dun is full to the brim with adenture and discovery that will never cease to impress adventurers of all skill levels.  Whether you choose to experience the nearby ruins or explore further on a longer undertaking Vol'dun has a little something for everyone.  Available July 17th until September 28th!</i></p>
		 <table style="background-color:#AFE2FC;width:100%"; >
  <tr align="left">
    <th>Length of Stay</th>
    <th>Price (Horde)</th>
    <th>Price (Alliance)</th>
  </tr> 
  <tr>
    <td>24 hours of Adventure</td>
    <td>14 Gp</td>
    <td>10 Gp</td>
  </tr>
  <tr>
    <td>72 hours of Adventure</td>
    <td>40 Gp</td>
    <td>25 Gp</td>
  </tr>
  <tr>
    <td>168 hours of Adventure</td>
    <td>90 Gp</td>
    <td>60 Gp</td>
  </tr>
</table> 
<h3 style="background-color:#AFE2FC;width:100%";>Back to Packages<a href="Packaage.html"><img src="WorldMap.png"; height="50"; width="90"></a></h3>
<!-- this next bit of code allows the user to shove the text out of sight to see the background image clearly -->
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
	</body>
</html>
	