<!DOCTYPE html>
<html>
	<head>
		<title>Swamp of Sorrows</title>
		 <style>
			body {background-image: url("TravelImageDamp1.png");
					background-repeat: no-repeat;
					background-attachment: fixed;
					background-size: cover;
			}
			
			div {color: white; 
				background-color: black; 
				font-size: 50px;
			}
			
			table {
				font-size: 21px
			}
		</style> 
			<script>
			
			</script>

		</head>

	<body>
	
	<!-- change this per page -->
		<div id="dstwlc"
			<p align="center";><b><i>Welcome to the Swamp of Sorrows</i></b></p>
		</div></br>
		<p style="font-size: 24px; background-color:#AFE2FC;width:100%";><i>The Swamp of Sorrows is located east of Deadwind Pass and rests near the Blasted Lands.  In sharp contrast to its name-sake the Swamp of Sorrows will bring any adventurer worth their salt a worthy challenge and a deeply satisfying accomplishment.  Our location boasts a plethora of attractions including the dreaded Temple of Atal'Hakkar for adventurers excited to test their mettle against the denizens that reside beneath.  Whether you choose to dive below the surface and explore the majesty of the Sunken Temple or traverse through the mire the Swamp of Sorrows has a little something for everyone.  Available March 4th until July 2nd!</i></p>
		 <table style="background-color:#AFE2FC;width:100%"; >
  <tr align="left">
    <th>Length of Stay</th>
    <th>Price (Horde)</th>
    <th>Price (Alliance)</th>
  </tr>  
  <tr>
    <td>24 hours of Adventure</td>
    <td>13 Gp</td>
    <td>11 Gp</td>
  </tr>
  <tr>
    <td>72 hours of Adventure</td>
    <td>35 Gp</td>
    <td>30 Gp</td>
  </tr>
  <tr>
    <td>168 hours of Adventure</td>
    <td>80 Gp</td>
    <td>70 Gp</td>
  </tr>
</table> 
<h3 style="background-color:#AFE2FC;width:100%";>Back to Packages<a href="Packaage.html"><img src="WorldMap.png"; height="50"; width="90"></a></h3>
<!-- this next bit of code allows the user to shove the text out of sight to see the background image clearly -->
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
	</body>
</html>
	